<a href="https://colab.research.google.com/github/chauitvn/MNIST/blob/master/Feature_engineering_Downsampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
from datetime import datetime, timedelta

In [50]:
DATA = pd.read_csv("/content/drive/MyDrive/2022/Stock Prediction/Data/VPB_1.csv", header=0, index_col=1, parse_dates=True)
DATA

            Unnamed: 0   high  ...  prophet_prediction    Fourier
date                           ...
2017-08-17           0  39.00  ...           12.156839  22.644159
2017-08-18           1  38.50  ...           12.247239  22.625086
2017-08-21           2  36.80  ...           12.225384  19.657944
2017-08-22           3  36.00  ...           12.243743  19.643331
2017-08-23           4  36.80  ...           12.283061  16.924241
...                ...    ...  ...                 ...        ...
2022-01-27        1113  36.65  ...           38.437205  31.220079
2022-01-28        1114  36.70  ...           38.593920  28.638928
2022-02-07        1115  37.20  ...           40.277806  28.599161
2022-02-08        1116  37.90  ...           40.497906  25.701326
2022-02-09        1117  38.00  ...           40.742609  25.674405

[1118 rows x 45 columns]

In [51]:
newData_df = DATA[["high", "low", "open", "close", "adjust", "volume"]]
newData_df

             high    low   open  close  adjust      volume
date
2017-08-17  39.00  33.00  39.00  39.00  13.389  58299310.0
2017-08-18  38.50  37.20  38.00  37.20  12.772   1348450.0
2017-08-21  36.80  35.50  35.80  35.85  12.308   1802590.0
2017-08-22  36.00  34.80  34.80  36.00  12.359   2531870.0
2017-08-23  36.80  35.75  36.00  36.20  12.428    520790.0
...           ...    ...    ...    ...     ...         ...
2022-01-27  36.65  35.40  35.90  35.45  35.450  16617500.0
2022-01-28  36.70  35.50  35.65  36.65  36.650  24213598.0
2022-02-07  37.20  36.30  37.00  36.30  36.300  11288200.0
2022-02-08  37.90  36.10  36.15  37.30  37.300  22498900.0
2022-02-09  38.00  37.10  37.50  37.10  37.100  20711000.0

[1118 rows x 6 columns]

In [52]:
Week_Data_df = newData_df.resample("W").sum()
Week_Data_df = Week_Data_df[["adjust", "volume"]]
Week_Data_df.rename(columns={"adjust": "weekly_adjust", "volume": "weekly_volume"}, inplace=True)
#Week_Data_df["DayOfWeek"] = Week_Data_df["date"].dt.weekday
#Week_Data_df.loc[Week_Data_df["DayOfWeek"] ==6 , "date"] = Week_Data_df["date"] - timedelta(days=2)
#Week_Data_df.set_index("date", inplace=True)
#Week_Data_df

In [53]:
merger_df = pd.merge(newData_df, Week_Data_df, left_index=True, right_index=True, how="outer")
merger_df.head(50)

             high    low   open  ...      volume  weekly_adjust  weekly_volume
date                             ...
2017-08-17  39.00  33.00  39.00  ...  58299310.0            NaN            NaN
2017-08-18  38.50  37.20  38.00  ...   1348450.0            NaN            NaN
2017-08-20    NaN    NaN    NaN  ...         NaN         26.161     59647760.0
2017-08-21  36.80  35.50  35.80  ...   1802590.0            NaN            NaN
2017-08-22  36.00  34.80  34.80  ...   2531870.0            NaN            NaN
2017-08-23  36.80  35.75  36.00  ...    520790.0            NaN            NaN
2017-08-24  36.35  35.80  36.35  ...   1289627.0            NaN            NaN
2017-08-25  36.30  35.80  35.90  ...    615370.0            NaN            NaN
2017-08-27    NaN    NaN    NaN  ...         NaN         62.003      6760247.0
2017-08-28  36.30  35.90  36.00  ...    761670.0            NaN            NaN
2017-08-29  36.30  35.95  36.10  ...    990000.0            NaN            NaN
2017-08-30  36.30  36.00  36.30  ...    830100.0            NaN            NaN
2017-08-31  36.30  36.10  36.10  ...   1196380.0            NaN            NaN
2017-09-01  36.30  36.10  36.10  ...    978060.0            NaN            NaN
2017-09-03    NaN    NaN    NaN  ...         NaN         62.315      4756210.0
2017-09-05  36.40  36.05  36.05  ...   1449290.0            NaN            NaN
2017-09-06  38.20  36.30  36.40  ...   1921010.0            NaN            NaN
2017-09-07  39.30  38.20  38.20  ...    900290.0            NaN            NaN
2017-09-08  38.50  38.15  38.50  ...    339640.0            NaN            NaN
2017-09-10    NaN    NaN    NaN  ...         NaN         51.945      4610230.0
2017-09-11  38.10  36.90  38.00  ...    715570.0            NaN            NaN
2017-09-12  37.50  36.40  37.00  ...    330150.0            NaN            NaN
2017-09-13  37.60  37.10  37.35  ...    312470.0            NaN            NaN
2017-09-14  37.60  37.30  37.50  ...    268880.0            NaN            NaN
2017-09-15  37.60  37.35  37.45  ...    352480.0            NaN            NaN
2017-09-17    NaN    NaN    NaN  ...         NaN         64.097      1979550.0
2017-09-18  37.50  37.25  37.40  ...    323580.0            NaN            NaN
2017-09-19  37.30  36.90  37.30  ...    820020.0            NaN            NaN
2017-09-20  37.30  36.85  36.95  ...    789670.0            NaN            NaN
2017-09-21  36.95  36.75  36.90  ...    535570.0            NaN            NaN
2017-09-22  36.90  36.50  36.90  ...   1288830.0            NaN            NaN
2017-09-24    NaN    NaN    NaN  ...         NaN         63.427      3757670.0
2017-09-25  36.85  36.65  36.70  ...   4504360.0            NaN            NaN
2017-09-26  36.90  36.60  36.90  ...    718370.0            NaN            NaN
2017-09-27  37.45  36.60  36.60  ...   1473820.0            NaN            NaN
2017-09-28  37.80  37.20  37.30  ...   1738590.0            NaN            NaN
2017-09-29  37.75  37.25  37.25  ...    752340.0            NaN            NaN
2017-10-01    NaN    NaN    NaN  ...         NaN         63.600      9187480.0
2017-10-02  37.60  37.00  37.50  ...    634350.0            NaN            NaN
2017-10-03  37.30  36.75  37.20  ...    659660.0            NaN            NaN
2017-10-04  37.00  36.75  36.90  ...    477470.0            NaN            NaN
2017-10-05  37.15  36.85  37.10  ...    219990.0            NaN            NaN
2017-10-06  37.20  36.80  37.05  ...    409110.0            NaN            NaN
2017-10-08    NaN    NaN    NaN  ...         NaN         63.549      2400580.0
2017-10-09  37.60  37.25  37.60  ...   4936770.0            NaN            NaN
2017-10-10  38.20  37.35  37.45  ...    869010.0            NaN            NaN
2017-10-11  39.50  38.15  38.20  ...   3495690.0            NaN            NaN
2017-10-12  40.80  39.30  39.55  ...   2545902.0            NaN            NaN
2017-10-13  41.05  39.90  39.90  ...   1322500.0            NaN            NaN
2017-10-15    NaN    NaN    NaN  ...         NaN         67.016     13169872.0

[50 rows x 8 columns]

In [54]:
Month_Data_df = newData_df.resample("M").sum()
Month_Data_df = Month_Data_df[["adjust", "volume"]]
Month_Data_df.rename(columns={"adjust": "monthly_adjust", "volume": "monthly_volume"}, inplace=True)
Month_Data_df

            monthly_adjust  monthly_volume
date
2017-08-31         138.016      70186157.0
2017-09-30         255.532      20512990.0
2017-10-31         299.271      40677712.0
2017-11-30         299.239      31357401.0
2017-12-31         286.858      45962862.0
2018-01-31         331.235     118172470.0
2018-02-28         283.687      72830822.0
2018-03-31         480.166     117497839.0
2018-04-30         415.280     108595978.0
2018-05-31         361.432      87017830.0
2018-06-30         360.811      94249840.0
2018-07-31         333.609     118779600.0
2018-08-31         333.139     113603277.0
2018-09-30         266.498      87938022.0
2018-10-31         303.387     115053994.0
2018-11-30         255.581      89987474.0
2018-12-31         236.942      81611540.0
2019-01-31         238.441      46356705.0
2019-02-28         176.609      52038056.0
2019-03-31         247.414      78552968.0
2019-04-30         206.831      51392705.0
2019-05-31         227.472      42768926.0
2019-06-30         205.942      52512870.0
2019-07-31         245.583      66516929.0
2019-08-31         237.580      65802643.0
2019-09-30         231.944      89067358.0
2019-10-31         282.998     150831932.0
2019-11-30         246.858      81665222.0
2019-12-31         238.054      72213830.0
2020-01-31         202.832      57819390.0
2020-02-29         294.026     167000017.0
2020-03-31         276.080     158949327.0
2020-04-30         221.776     130660420.0
2020-05-31         258.972     156186121.0
2020-06-30         280.444     123124580.0
2020-07-31         278.136      94186412.0
2020-08-31         255.664     104060410.0
2020-09-30         271.331     139949080.0
2020-10-31         294.749     203607304.0
2020-11-30         290.415     163647090.0
2020-12-31         383.634     182899770.0
2021-01-31         384.302     142087300.0
2021-02-28         317.497     128148668.0
2021-03-31         554.941     159291730.0
2021-04-30         551.051     244650000.0
2021-05-31         725.382     690489485.0
2021-06-30         843.440     721040841.0
2021-07-31         778.828     379630400.0
2021-08-31         756.829     209660500.0
2021-09-30         723.107     161231960.0
2021-10-31         774.450     197551950.0
2021-11-30         817.600     342380756.0
2021-12-31         804.850     404467343.0
2022-01-31         659.900     240828021.0
2022-02-28         110.700      54498100.0

In [55]:
merger_df = pd.merge(merger_df, Month_Data_df, left_index=True, right_index=True, how="outer")
merger_df.head(50)

             high    low   open  ...  weekly_volume  monthly_adjust  monthly_volume
date                             ...
2017-08-17  39.00  33.00  39.00  ...            NaN             NaN             NaN
2017-08-18  38.50  37.20  38.00  ...            NaN             NaN             NaN
2017-08-20    NaN    NaN    NaN  ...     59647760.0             NaN             NaN
2017-08-21  36.80  35.50  35.80  ...            NaN             NaN             NaN
2017-08-22  36.00  34.80  34.80  ...            NaN             NaN             NaN
2017-08-23  36.80  35.75  36.00  ...            NaN             NaN             NaN
2017-08-24  36.35  35.80  36.35  ...            NaN             NaN             NaN
2017-08-25  36.30  35.80  35.90  ...            NaN             NaN             NaN
2017-08-27    NaN    NaN    NaN  ...      6760247.0             NaN             NaN
2017-08-28  36.30  35.90  36.00  ...            NaN             NaN             NaN
2017-08-29  36.30  35.95  36.10  ...            NaN             NaN             NaN
2017-08-30  36.30  36.00  36.30  ...            NaN             NaN             NaN
2017-08-31  36.30  36.10  36.10  ...            NaN         138.016      70186157.0
2017-09-01  36.30  36.10  36.10  ...            NaN             NaN             NaN
2017-09-03    NaN    NaN    NaN  ...      4756210.0             NaN             NaN
2017-09-05  36.40  36.05  36.05  ...            NaN             NaN             NaN
2017-09-06  38.20  36.30  36.40  ...            NaN             NaN             NaN
2017-09-07  39.30  38.20  38.20  ...            NaN             NaN             NaN
2017-09-08  38.50  38.15  38.50  ...            NaN             NaN             NaN
2017-09-10    NaN    NaN    NaN  ...      4610230.0             NaN             NaN
2017-09-11  38.10  36.90  38.00  ...            NaN             NaN             NaN
2017-09-12  37.50  36.40  37.00  ...            NaN             NaN             NaN
2017-09-13  37.60  37.10  37.35  ...            NaN             NaN             NaN
2017-09-14  37.60  37.30  37.50  ...            NaN             NaN             NaN
2017-09-15  37.60  37.35  37.45  ...            NaN             NaN             NaN
2017-09-17    NaN    NaN    NaN  ...      1979550.0             NaN             NaN
2017-09-18  37.50  37.25  37.40  ...            NaN             NaN             NaN
2017-09-19  37.30  36.90  37.30  ...            NaN             NaN             NaN
2017-09-20  37.30  36.85  36.95  ...            NaN             NaN             NaN
2017-09-21  36.95  36.75  36.90  ...            NaN             NaN             NaN
2017-09-22  36.90  36.50  36.90  ...            NaN             NaN             NaN
2017-09-24    NaN    NaN    NaN  ...      3757670.0             NaN             NaN
2017-09-25  36.85  36.65  36.70  ...            NaN             NaN             NaN
2017-09-26  36.90  36.60  36.90  ...            NaN             NaN             NaN
2017-09-27  37.45  36.60  36.60  ...            NaN             NaN             NaN
2017-09-28  37.80  37.20  37.30  ...            NaN             NaN             NaN
2017-09-29  37.75  37.25  37.25  ...            NaN             NaN             NaN
2017-09-30    NaN    NaN    NaN  ...            NaN         255.532      20512990.0
2017-10-01    NaN    NaN    NaN  ...      9187480.0             NaN             NaN
2017-10-02  37.60  37.00  37.50  ...            NaN             NaN             NaN
2017-10-03  37.30  36.75  37.20  ...            NaN             NaN             NaN
2017-10-04  37.00  36.75  36.90  ...            NaN             NaN             NaN
2017-10-05  37.15  36.85  37.10  ...            NaN             NaN             NaN
2017-10-06  37.20  36.80  37.05  ...            NaN             NaN             NaN
2017-10-08    NaN    NaN    NaN  ...      2400580.0             NaN             NaN
2017-10-09  37.60  37.25  37.60  ...            NaN             NaN             NaN
2017-10-10  38.20  37.35  37.45  ...            NaN             NaN             NaN
2017-10-11  39.50  38.15  38.20  ...            NaN             NaN             NaN
2017-10-12  40.80  39.30  39.55  ...            NaN             NaN             NaN
2017-10-13  41.05  39.90  39.90  ...            NaN             NaN             NaN

[50 rows x 10 columns]

In [57]:
aaa_df = merger_df.interpolate(method="spline", order=2)
aaa_df.head(50)

                 high        low  ...  monthly_adjust  monthly_volume
date                              ...
2017-08-17  39.000000  33.000000  ...             NaN             NaN
2017-08-18  38.500000  37.200000  ...             NaN             NaN
2017-08-20  37.435432  35.775241  ...             NaN             NaN
2017-08-21  36.800000  35.500000  ...             NaN             NaN
2017-08-22  36.000000  34.800000  ...             NaN             NaN
2017-08-23  36.800000  35.750000  ...             NaN             NaN
2017-08-24  36.350000  35.800000  ...             NaN             NaN
2017-08-25  36.300000  35.800000  ...             NaN             NaN
2017-08-27  37.004412  35.789892  ...             NaN             NaN
2017-08-28  36.300000  35.900000  ...             NaN             NaN
2017-08-29  36.300000  35.950000  ...             NaN             NaN
2017-08-30  36.300000  36.000000  ...             NaN             NaN
2017-08-31  36.300000  36.100000  ...      138.016000    7.018616e+07
2017-09-01  36.300000  36.100000  ...      143.214175    6.714284e+07
2017-09-03  36.800490  35.939859  ...      153.317961    6.134327e+07
2017-09-05  36.400000  36.050000  ...      163.071909    5.592648e+07
2017-09-06  38.200000  36.300000  ...      167.817694    5.336163e+07
2017-09-07  39.300000  38.200000  ...      172.476020    5.089246e+07
2017-09-08  38.500000  38.150000  ...      177.046886    4.851900e+07
2017-09-10  36.823666  36.225143  ...      185.926240    4.405913e+07
2017-09-11  38.100000  36.900000  ...      190.234729    4.197274e+07
2017-09-12  37.500000  36.400000  ...      194.455757    3.998205e+07
2017-09-13  37.600000  37.100000  ...      198.589327    3.808704e+07
2017-09-14  37.600000  37.300000  ...      202.635437    3.628773e+07
2017-09-15  37.600000  37.350000  ...      206.594088    3.458411e+07
2017-09-17  37.073938  36.645743  ...      214.249011    3.146395e+07
2017-09-18  37.500000  37.250000  ...      217.945284    3.004741e+07
2017-09-19  37.300000  36.900000  ...      221.554098    2.872657e+07
2017-09-20  37.300000  36.850000  ...      225.075452    2.750141e+07
2017-09-21  36.950000  36.750000  ...      228.509346    2.637195e+07
2017-09-22  36.900000  36.500000  ...      231.855781    2.533818e+07
2017-09-24  37.551308  37.201661  ...      238.286274    2.355773e+07
2017-09-25  36.850000  36.650000  ...      241.370331    2.281104e+07
2017-09-26  36.900000  36.600000  ...      244.366929    2.216004e+07
2017-09-27  37.450000  36.600000  ...      247.276068    2.160474e+07
2017-09-28  37.800000  37.200000  ...      250.097747    2.114513e+07
2017-09-29  37.750000  37.250000  ...      252.831967    2.078121e+07
2017-09-30  38.141234  37.785862  ...      255.532000    2.051299e+07
2017-10-01  38.255776  37.892895  ...      258.038028    2.034046e+07
2017-10-02  37.600000  37.000000  ...      260.509870    2.026362e+07
2017-10-03  37.300000  36.750000  ...      262.894252    2.028248e+07
2017-10-04  37.000000  36.750000  ...      265.191175    2.039703e+07
2017-10-05  37.150000  36.850000  ...      267.400639    2.060727e+07
2017-10-06  37.200000  36.800000  ...      269.522643    2.091320e+07
2017-10-08  39.168479  38.702611  ...      273.504274    2.181215e+07
2017-10-09  37.600000  37.250000  ...      275.363900    2.240516e+07
2017-10-10  38.200000  37.350000  ...      277.136067    2.309387e+07
2017-10-11  39.500000  38.150000  ...      278.820774    2.387827e+07
2017-10-12  40.800000  39.300000  ...      280.418022    2.475836e+07
2017-10-13  41.050000  39.900000  ...      281.927811    2.573414e+07

[50 rows x 10 columns]

In [58]:
aaa_df.fillna(aaa_df.mean(), inplace=True)
aaa_df.head(50)

                 high        low  ...  monthly_adjust  monthly_volume
date                              ...
2017-08-17  39.000000  33.000000  ...      373.759441    1.491855e+08
2017-08-18  38.500000  37.200000  ...      373.759441    1.491855e+08
2017-08-20  37.435432  35.775241  ...      373.759441    1.491855e+08
2017-08-21  36.800000  35.500000  ...      373.759441    1.491855e+08
2017-08-22  36.000000  34.800000  ...      373.759441    1.491855e+08
2017-08-23  36.800000  35.750000  ...      373.759441    1.491855e+08
2017-08-24  36.350000  35.800000  ...      373.759441    1.491855e+08
2017-08-25  36.300000  35.800000  ...      373.759441    1.491855e+08
2017-08-27  37.004412  35.789892  ...      373.759441    1.491855e+08
2017-08-28  36.300000  35.900000  ...      373.759441    1.491855e+08
2017-08-29  36.300000  35.950000  ...      373.759441    1.491855e+08
2017-08-30  36.300000  36.000000  ...      373.759441    1.491855e+08
2017-08-31  36.300000  36.100000  ...      138.016000    7.018616e+07
2017-09-01  36.300000  36.100000  ...      143.214175    6.714284e+07
2017-09-03  36.800490  35.939859  ...      153.317961    6.134327e+07
2017-09-05  36.400000  36.050000  ...      163.071909    5.592648e+07
2017-09-06  38.200000  36.300000  ...      167.817694    5.336163e+07
2017-09-07  39.300000  38.200000  ...      172.476020    5.089246e+07
2017-09-08  38.500000  38.150000  ...      177.046886    4.851900e+07
2017-09-10  36.823666  36.225143  ...      185.926240    4.405913e+07
2017-09-11  38.100000  36.900000  ...      190.234729    4.197274e+07
2017-09-12  37.500000  36.400000  ...      194.455757    3.998205e+07
2017-09-13  37.600000  37.100000  ...      198.589327    3.808704e+07
2017-09-14  37.600000  37.300000  ...      202.635437    3.628773e+07
2017-09-15  37.600000  37.350000  ...      206.594088    3.458411e+07
2017-09-17  37.073938  36.645743  ...      214.249011    3.146395e+07
2017-09-18  37.500000  37.250000  ...      217.945284    3.004741e+07
2017-09-19  37.300000  36.900000  ...      221.554098    2.872657e+07
2017-09-20  37.300000  36.850000  ...      225.075452    2.750141e+07
2017-09-21  36.950000  36.750000  ...      228.509346    2.637195e+07
2017-09-22  36.900000  36.500000  ...      231.855781    2.533818e+07
2017-09-24  37.551308  37.201661  ...      238.286274    2.355773e+07
2017-09-25  36.850000  36.650000  ...      241.370331    2.281104e+07
2017-09-26  36.900000  36.600000  ...      244.366929    2.216004e+07
2017-09-27  37.450000  36.600000  ...      247.276068    2.160474e+07
2017-09-28  37.800000  37.200000  ...      250.097747    2.114513e+07
2017-09-29  37.750000  37.250000  ...      252.831967    2.078121e+07
2017-09-30  38.141234  37.785862  ...      255.532000    2.051299e+07
2017-10-01  38.255776  37.892895  ...      258.038028    2.034046e+07
2017-10-02  37.600000  37.000000  ...      260.509870    2.026362e+07
2017-10-03  37.300000  36.750000  ...      262.894252    2.028248e+07
2017-10-04  37.000000  36.750000  ...      265.191175    2.039703e+07
2017-10-05  37.150000  36.850000  ...      267.400639    2.060727e+07
2017-10-06  37.200000  36.800000  ...      269.522643    2.091320e+07
2017-10-08  39.168479  38.702611  ...      273.504274    2.181215e+07
2017-10-09  37.600000  37.250000  ...      275.363900    2.240516e+07
2017-10-10  38.200000  37.350000  ...      277.136067    2.309387e+07
2017-10-11  39.500000  38.150000  ...      278.820774    2.387827e+07
2017-10-12  40.800000  39.300000  ...      280.418022    2.475836e+07
2017-10-13  41.050000  39.900000  ...      281.927811    2.573414e+07

[50 rows x 10 columns]